
/* =========================
    General
========================= */

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Gilroy Semi-Bold", Sans-serif;
    background: #EEF1FF;
    color: rgb(34, 34, 34);
}

/* =========================
    Auth and Header
========================= */

.auth-form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.header-form {
    width: 300px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 10px;
    border-radius: 15px;
    background-color: #ffffff;
}


.header-title {
    text-align: center;
    font-size: 32px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.header-logo {
    height: 50px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.auth-form{
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: #ffffff;
}

.auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.auth-form-title {
    text-align: center;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

