@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/* =========================
    Global
========================= */

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #EEF1FF;
    color: rgb(34, 34, 34);
}

.table {
    font-family: 'Nunito', sans-serif;
}

/* =========================
    Title
========================= */

.title-logo {
    width: 150px;
    object-fit: contain;
}

.title-text {
    font-family: 'Nunito', sans-serif !important;
    color: #012970;
    font-weight: 700 !important;
}


/* =========================
    Home
========================= */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.home-row {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    justify-content: center;
    padding: 20px;
}


/* =========================
    Authorizations
========================= */

.auth-alert {
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-5%, -50%);
}

.auth-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: 'flex';
    flex-direction: 'column';
    padding-top: 5px;
    background-color: white;
    border: medium solid black;
}

.login h1, .register h1 {
    font-family: 'Nunito', sans-serif !important;
    color: #012970;
    font-weight: 700 !important;
    text-align: center;
    padding-top: 5px;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 1rem 1rem;
    font-family: 'Nunito', sans-serif !important;
}

/* =========================
    Section and Cards
========================= */

.profile img {
    max-width: 200px;
}

.profile h2 {
    color: #012970;
    font-weight: 700;
}

.profile h4 {
    color: #012970;
    font-weight: 400;
}

.profile-btn {
    margin-top: 1rem !important;
    margin-left: 35% !important;
    background-color: #012970 !important;
    font-family: 'Nunito', 'sans-serif' !important;
}

.profile-overview {
    padding-left: 15px;
}

.profile-overview h2 {
    margin-left: -15px !important; 
    background-color: #012970;
    color: #ffffff !important;
    text-align: center;
}

.overview-body {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.overview-row {
    display: flex;
    flex-direction: column;
}

.overview-body label{
    font-weight: 800;
}


/* =========================
    Header
========================= */

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo-container img{
   width: 50px; 
}

.logo-container a{
    text-decoration: none;
}

.toggle-sidebar {
    font-size: 50px;
    cursor: pointer;
    color: #012970;
}

@media (min-width: 1200px) {
    
    .logo-container {
        width: 400px;
    }
}


.end-container {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    padding-right: 20px;
    font-family: 'Nunito', sans-serif;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    top: 0;
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #ffffff;
    padding-left: 20px;

}

/* =========================
    Dropdown
========================= */

.drop {
    position: relative;
  }
  
.drop-btn {
    color: #012970 !important;
    font-family: 'Nunito', sans-serif !important;
}
.drop-menu {
    position: absolute;
    right: 0;
    width: 15rem;
    top: calc(100% + .25rem);
    background-color: #ffff;
    padding-inline-start: 0;
    border: thin solid black;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.drop-menu--open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.drop-header {
    text-align: center;
    list-style: none;
    padding-bottom: 10px;
}

.drop-header h6 {
    letter-spacing: 0.5px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 5px;
    color: #012970;
}

.drop-header span {
    font-size: 15px;
    padding-top: 10px;
}

.drop-menu {
    list-style: none;
}

.drop-item {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
    color: #012970;
}

.drop-link {
    text-decoration: none;
}

.drop-link :hover {
    color: #4154f1;
    background: #f6f9ff;
} 


.drop-menu hr {
    padding-bottom: 5px;
    margin: 0;
}


/* =========================
    Sidebar
========================= */

.sidebar  {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    transform: translateX(-100%);
  }

.sidebar--open {
    transform: translateX(0%);
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-item {
    margin-bottom: 15px;
}

.nav-item a {
    text-decoration: none;
}


.nav-link {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 575;
    color: #012970;
    transition: 0.3;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    
}

.nav-current {
    color: #4154f1;
    background: #f6f9ff;
} 

.nav-item :hover {
    color: #4154f1;
    background: #f6f9ff;
} 

.nav-logo {
    font-size: 20px;
    margin-right: 10px;
    color: #012970;
}

/* =========================
    Main
========================= */

.main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}


@media (min-width: 1200px) {
    .main {
      margin-left: 300px;
    }

    .main-side {
        margin-left: 0;
    }
  }


.pagetitle {
    margin-bottom: 10px;
    
}

.pagetitle h1 {
    
    margin-bottom: 0;
    font-weight: 800;
    color: #012970;
}

/* =========================
    Dashboard
========================= */

.dash-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dash-btn {
    
    font-size: 45px;
}

.dash-btn-open {
    color: #012970;
    font-size: 45px;
}

.dash-title h1 {
    color: #012970;
    font-weight: 800;
    font-size: 45px;
}

.dash-desc h4{
    margin-left: 1rem;
    font-weight: 700;
}

.dash-desc p {
    border: thin solid black;
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;

}

.dash-tables-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dash-tables-titles h3{
    font-weight: 700;
}


.dash-project {
    border-color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.dash-project h5, .dash-project p{
    padding-left: 10px;
    padding-top: 10px;
}

.dash-project h2 {
    border-bottom: 2px solid black;
    background-color: #012970;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.dash-tables {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 2rem;
    min-width: none;
}

.dash-tables table {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.pie-container {
    background-color: white;
    border: 2px solid black;
}

